/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: #023535;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #23606E;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #008F8C;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #015958;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

strong {
    color: #23606E;
}

a {
    color: #015958;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #FACFCE;
}

img {
    
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #23606E;
}

.CTA {
    width: 200px;
    padding: 15px;
    margin: 10px;
    background-color: #FACFCE;
    border-bottom-color: #008F8C;
    box-sizing: border-box; 
    color:#015958
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #23606E;
    color: #FACFCE;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    text-align: left;
    padding: 10px;
    border: 2px solid #23606E;
}

th {
    background-color: #015958;
    color: #FACFCE;
}

td {
    background-color: #008F8C;
    color: #FACFCE;
}

.pink-box {
    background-color: #FACFCE;
}

/*Cajas con diferentes estilos*/
.box {
    width: 200px;
    padding: 15px;
    margin: 10px;
    border: 2px solid rgb(85, 84, 82);
    box-sizing: border-box;
}

.red-box {
    background-color: lightcoral;
}

.blue-box {
    background-color: lightblue;
}

.green-box {
    background-color: lightseagreen;
}